__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
.mlops_project
.git
.gitignore
mlruns/
data/raw/
data/reference/
data/production/
data/monitoring/
models/checkpoints/
htmlcov/
.pytest_cache/
.coverage
*.egg-info/
dist/
build/
.DS_Store
*.log

